In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# multi-classification model

In [5]:
df2005 = pd.read_csv('desktop/mortality_selected/2005.csv')
df2006 = pd.read_csv('desktop/mortality_selected/2006.csv')
df2007 = pd.read_csv('desktop/mortality_selected/2007.csv')
df2008 = pd.read_csv('desktop/mortality_selected/2008.csv')
df2009 = pd.read_csv('desktop/mortality_selected/2009.csv')
df2010 = pd.read_csv('desktop/mortality_selected/2010.csv')
df2011 = pd.read_csv('desktop/mortality_selected/2011.csv')
df2012 = pd.read_csv('desktop/mortality_selected/2012.csv')
df2013 = pd.read_csv('desktop/mortality_selected/2013.csv')
df2014 = pd.read_csv('desktop/mortality_selected/2014.csv')
df2015 = pd.read_csv('desktop/mortality_selected/2015.csv')
df = pd.concat([df2005,df2006,df2007,df2008,df2009,df2010,df2011,df2012,df2013,df2014,df2015])
df

,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,activity_code,race,5y_age_band_recode,rankable_cause_recode
0,11.0,NaN,0,1,F,45,M,2,2005,U,7.0,NaN,1,10,4
1,13.0,NaN,0,1,M,61,D,7,2005,U,7.0,NaN,1,13,13
2,12.0,NaN,0,1,F,79,D,1,2005,U,7.0,NaN,1,16,9
3,12.0,NaN,0,1,M,50,S,4,2005,U,7.0,NaN,1,11,5
4,14.0,NaN,0,1,F,68,M,2,2005,U,7.0,NaN,1,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718193,NaN,1.0,1,5,M,5,S,7,2015,U,7.0,NaN,2,1,18
2718194,NaN,9.0,1,12,F,48,U,6,2015,U,7.0,NaN,1,10,7
2718195,NaN,9.0,1,12,M,33,U,1,2015,U,7.0,NaN,1,7,22
2718196,NaN,9.0,1,7,M,83,U,7,2015,U,7.0,NaN,2,17,7
2718197,NaN,9.0,1,12,M,81,U,2,2015,U,7.0,NaN,2,17,7

In [6]:
dic = dict()
for i in range(1,28):
    if i == 7:
        dic[i] = 'Major cardiovascular diseases'
    elif i == 4:
        dic[i] = 'Malignant neoplasms'
    elif i == 9:
        dic[i] = 'Cerebrovascular diseases'
    elif i == 13:
        dic[i] = 'Chronic lower respiratory diseases'
    else:
        dic[i] = 'others'
#print(dic)
df['rankable_cause_recode'] = df['rankable_cause_recode'].map(dic)
df

,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age,marital_status,day_of_week_of_death,current_data_year,injury_at_work,manner_of_death,activity_code,race,5y_age_band_recode,rankable_cause_recode
0,11.0,NaN,0,1,F,45,M,2,2005,U,7.0,NaN,1,10,Malignant neoplasms
1,13.0,NaN,0,1,M,61,D,7,2005,U,7.0,NaN,1,13,Chronic lower respiratory diseases
2,12.0,NaN,0,1,F,79,D,1,2005,U,7.0,NaN,1,16,Cerebrovascular diseases
3,12.0,NaN,0,1,M,50,S,4,2005,U,7.0,NaN,1,11,others
4,14.0,NaN,0,1,F,68,M,2,2005,U,7.0,NaN,1,14,Malignant neoplasms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718193,NaN,1.0,1,5,M,5,S,7,2015,U,7.0,NaN,2,1,others
2718194,NaN,9.0,1,12,F,48,U,6,2015,U,7.0,NaN,1,10,Major cardiovascular diseases
2718195,NaN,9.0,1,12,M,33,U,1,2015,U,7.0,NaN,1,7,others
2718196,NaN,9.0,1,7,M,83,U,7,2015,U,7.0,NaN,2,17,Major cardiovascular diseases
2718197,NaN,9.0,1,12,M,81,U,2,2015,U,7.0,NaN,2,17,Major cardiovascular diseases

In [7]:
a = df.groupby(['current_data_year','5y_age_band_recode','month_of_death','sex','marital_status',
               'race','rankable_cause_recode']).size().reset_index(name = 'size')
a

,current_data_year,5y_age_band_recode,month_of_death,sex,marital_status,race,rankable_cause_recode,size
0,2005,1,1,F,S,1,Cerebrovascular diseases,6
1,2005,1,1,F,S,1,Chronic lower respiratory diseases,3
2,2005,1,1,F,S,1,Major cardiovascular diseases,13
3,2005,1,1,F,S,1,Malignant neoplasms,13
4,2005,1,1,F,S,1,others,741
...,...,...,...,...,...,...,...,...
458885,2015,27,12,M,S,1,Major cardiovascular diseases,2
458886,2015,27,12,M,U,1,Major cardiovascular diseases,2
458887,2015,27,12,M,U,1,others,17
458888,2015,27,12,M,U,2,Major cardiovascular diseases,2
458889,2015,27,12,M,U,2,others,4

In [8]:
y = a['rankable_cause_recode']
xcolumns = ['current_data_year','5y_age_band_recode','month_of_death','race','sex','marital_status']
x = a[xcolumns]

In [9]:
month_of_death_1hot = pd.get_dummies(x['month_of_death'],prefix = 'month_of_death')
sex_1hot = pd.get_dummies(x['sex'],prefix = 'sex')
marital_status_1hot = pd.get_dummies(x['marital_status'],prefix = 'marital_status')
race_1hot = pd.get_dummies(x['race'],prefix = 'race')

In [10]:
X = pd.concat([x,month_of_death_1hot,sex_1hot,marital_status_1hot,race_1hot], axis=1)
X = X.drop('month_of_death', axis = 1)
X = X.drop('sex', axis = 1)
X = X.drop('marital_status', axis = 1)
X = X.drop('race', axis = 1)
X

,current_data_year,5y_age_band_recode,month_of_death_1,month_of_death_2,month_of_death_3,month_of_death_4,month_of_death_5,month_of_death_6,month_of_death_7,month_of_death_8,...,race_5,race_6,race_7,race_18,race_28,race_38,race_48,race_58,race_68,race_78
0,2005,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2005,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2005,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2005,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2005,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458885,2015,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
458886,2015,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
458887,2015,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
458888,2015,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
458889,2015,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
import statsmodels.api as st
X = st.add_constant(X, prepend=False)
mdl = st.MNLogit(y, X)
mdl_fit = mdl.fit()
print (mdl_fit.summary())

Optimization terminated successfully.
         Current function value: 1.509971
         Iterations 7
                            MNLogit Regression Results
=================================================================================
Dep. Variable:     rankable_cause_recode   No. Observations:               458890
Model:                           MNLogit   Df Residuals:                   458762
Method:                              MLE   Df Model:                          124
Date:                   Sun, 01 Dec 2019   Pseudo R-squ.:                 0.02590
Time:                           21:18:38   Log-Likelihood:            -6.9291e+05
converged:                          True   LL-Null:                   -7.1133e+05
Covariance Type:               nonrobust   LLR p-value:                     0.000
================================================================================================
rankable_cause_recode=Chronic lower respiratory diseases       coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
current_data_year                                            0.0065      0.002      3.434      0.001       0.003       0.010
5y_age_band_recode                                           0.0089      0.001      6.507      0.000       0.006       0.012
month_of_death_1                                          -669.9207    1.3e+05     -0.005      0.996   -2.55e+05    2.53e+05
month_of_death_2                                          -669.9064   1.36e+05     -0.005      0.996   -2.68e+05    2.66e+05
month_of_death_3                                          -669.9160   1.23e+05     -0.005      0.996   -2.42e+05    2.41e+05
month_of_death_4                                          -669.9376   9.28e+04     -0.007      0.994   -1.82e+05    1.81e+05
month_of_death_5                                          -669.9424   1.44e+05     -0.005      0.996   -2.83e+05    2.82e+05
month_of_death_6                                          -669.9515   1.24e+05     -0.005      0.996   -2.44e+05    2.43e+05
month_of_death_7                                          -669.9793   6.34e+04     -0.011      0.992   -1.25e+05    1.24e+05
month_of_death_8                                          -670.0117   1.34e+05     -0.005      0.996   -2.63e+05    2.61e+05
month_of_death_9                                          -669.9881   1.54e+05     -0.004      0.997   -3.03e+05    3.01e+05
month_of_death_10                                         -669.9746   1.49e+05     -0.005      0.996   -2.92e+05    2.91e+05
month_of_death_11                                         -669.9763   4.78e+04     -0.014      0.989   -9.44e+04    9.31e+04
month_of_death_12                                         -669.9564   1.12e+05     -0.006      0.995   -2.21e+05    2.19e+05
sex_F                                                     1430.7387   1.37e+05      0.010      0.992   -2.66e+05    2.69e+05
sex_M                                                     1430.8899   1.29e+05      0.011      0.991   -2.52e+05    2.55e+05
marital_status_D                                          -837.1447        nan        nan        nan         nan         nan
marital_status_M                                          -837.2095        nan        nan        nan         nan         nan
marital_status_S                                          -837.0860        nan        nan        nan         nan         nan
marital_status_U                                          -837.1063        nan        nan        nan         nan         nan
marital_status_W                                          -837.1063        nan        nan        nan         nan         nan
race_1                                                     -44.6040   1.11e+05     -0.000      1.000   -2.17e+05    2.17e+05
race_2                                                     -44.6504   1.01e+05     -0.000      1.000   -1.98e+05    1.98e+05
race_3                                                     -44.5135   1.11e+05     -0.000      1.000   -2.18e+05    2.18e+05
race_4                                                     -45.1514   1.12e+05     -0.000      1.000   -2.19e+05    2.19e+05
race_5                                                     -45.2358   1.12e+05     -0.000      1.000    -2.2e+05     2.2e+05
race_6                                                     -44.8044   1.23e+05     -0.000      1.000   -2.42e+05    2.41e+05
race_7                                                     -45.2443    1.1e+05     -0.000      1.000   -2.16e+05    2.16e+05
race_18                                                    -45.3564   1.19e+05     -0.000      1.000   -2.33e+05    2.33e+05
race_28                                                    -45.4041   1.07e+05     -0.000      1.000   -2.09e+05    2.09e+05
race_38                                                    -45.3896   9.85e+04     -0.000      1.000   -1.93e+05    1.93e+05
race_48                                                    -45.4092   1.21e+05     -0.000      1.000   -2.36e+05    2.36e+05
race_58                                                    -45.1221   1.07e+05     -0.000      1.000    -2.1e+05     2.1e+05
race_68                                                    -45.4060   1.06e+05     -0.000      1.000   -2.09e+05    2.08e+05
race_78                                                    -45.1000   1.02e+05     -0.000      1.000      -2e+05       2e+05
const                                                      107.6569        nan        nan        nan         nan         nan
----------------------------------------------------------------------------------------------------------------------------
rankable_cause_recode=Major cardiovascular diseases       coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------------
current_data_year                                      -0.0024      0.002     -1.488      0.137      -0.006       0.001
5y_age_band_recode                                     -0.0035      0.001     -2.928      0.003      -0.006      -0.001
month_of_death_1                                       -5.8918        nan        nan        nan         nan         nan
month_of_death_2                                       -5.8807        nan        nan        nan         nan         nan
month_of_death_3                                       -5.8915        nan        nan        nan         nan         nan
month_of_death_4                                       -5.8979        nan        nan        nan         nan         nan
month_of_death_5                                       -5.8994        nan        nan        nan         nan         nan
month_of_death_6                                       -5.8895        nan        nan        nan         nan         nan
month_of_death_7                                       -5.8773        nan        nan        nan         nan         nan
month_of_death_8                                       -5.9123        nan        nan        nan         nan         nan
month_of_death_9                                       -5.9027        nan        nan        nan         nan         nan
month_of_death_10                                      -5.9124        nan        nan        nan         nan         nan
month_of_death_11                                      -5.9080        nan        nan        nan         nan         nan
month_of_death_12                                      -5.8954        nan        nan        nan         nan         nan
sex_F                                                -201.0194   4.44e+04     -0.005      0.996   -8.72e+04    8.68e+04
sex_M                                                -200.8412    4.5e+04     -0.004      0.996   -8.84e+04     8.8e+04
marital_status_D                                      -17.0121        nan        nan        nan         nan         nan
marital_status_M                                      -17.2666        nan        nan        nan         nan         nan
marital_status_S                                      -16.9991        nan        nan        nan         nan         nan
marital_status_U                                      -16.6363        nan        nan        nan         nan         nan
marital_status_W                                      -17.1683        nan        nan        nan         nan         nan
race_1                                                  7.7613        nan        nan        nan         nan         nan
race_2                                                  7.8432        nan        nan        nan         nan         nan
race_3                                                  8.5347        nan        nan        nan         nan         nan
race_4                                                  8.2267        nan        nan        nan         nan         nan
race_5                                                  8.3531        nan        nan        nan         nan         nan
race_6                                                  9.1955        nan        nan        nan         nan         nan
race_7                                                  8.2449        nan        nan        nan         nan         nan
race_18                                                 8.5997        nan        nan        nan         nan         nan
race_28                                                 8.3286        nan        nan        nan         nan         nan
race_38                                                 9.1858        nan        nan        nan         nan         nan
race_48                                                 8.1807        nan        nan        nan         nan         nan
race_58                                                 9.1930        nan        nan        nan         nan         nan
race_68                                                 8.2476        nan        nan        nan         nan         nan
race_78                                                 8.9196        nan        nan        nan         nan         nan
const                                                 221.0913        nan        nan        nan         nan         nan
-----------------------------------------------------------------------------------------------------------------------
rankable_cause_recode=Malignant neoplasms       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
current_data_year                             0.0003      0.002      0.198      0.843      -0.003       0.003
5y_age_band_recode                           -0.0469      0.001    -39.202      0.000      -0.049      -0.045
month_of_death_1                             -0.0117        nan        nan        nan         nan         nan
month_of_death_2                              0.0059        nan        nan        nan         nan         nan
month_of_death_3                             -0.0021        nan        nan        nan         nan         nan
month_of_death_4                              0.0093        nan        nan        nan         nan         nan
month_of_death_5                              0.0002        nan        nan        nan         nan         nan
month_of_death_6                              0.0365        nan        nan        nan         nan         nan
month_of_death_7                              0.0587        nan        nan        nan         nan         nan
month_of_death_8                              0.0399        nan        nan        nan         nan         nan
month_of_death_9                              0.0467        nan        nan        nan         nan         nan
month_of_death_10                             0.0311        nan        nan        nan         nan         nan
month_of_death_11                             0.0125        nan        nan        nan         nan         nan
month_of_death_12                            -0.0023        nan        nan        nan         nan         nan
sex_F                                        -4.6560   8.35e+04  -5.58e-05      1.000   -1.64e+05    1.64e+05
sex_M                                        -4.6878   8.41e+04  -5.57e-05      1.000   -1.65e+05    1.65e+05
marital_status_D                              1.3166        nan        nan        nan         nan         nan
marital_status_M                              1.0989        nan        nan        nan         nan         nan
marital_status_S                              1.2012        nan        nan        nan         nan         nan
marital_status_U                              1.5113        nan        nan        nan         nan         nan
marital_status_W                              1.0882        nan        nan        nan         nan         nan
race_1                                       -3.2111        nan        nan        nan         nan         nan
race_2                                       -3.1486        nan        nan        nan         nan         nan
race_3                                       -2.4833        nan        nan        nan         nan         nan
race_4                                       -2.4499        nan        nan        nan         nan         nan
race_5                                       -2.4464        nan        nan        nan         nan         nan
race_6                                       -1.7975        nan        nan        nan         nan         nan
race_7                                       -2.6335        nan        nan        nan         nan         nan
race_18                                      -2.4764        nan        nan        nan         nan         nan
race_28                                      -2.2804        nan        nan        nan         nan         nan
race_38                                      -1.9291        nan        nan        nan         nan         nan
race_48                                      -2.4164        nan        nan        nan         nan         nan
race_58                                      -1.6477        nan        nan        nan         nan         nan
race_68                                      -2.5946        nan        nan        nan         nan         nan
race_78                                      -1.9871        nan        nan        nan         nan         nan
const                                         6.7276   1.02e+04      0.001      0.999      -2e+04    2.01e+04
-------------------------------------------------------------------------------------------------------------
rankable_cause_recode=others       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
current_data_year            -1.152e-05      0.002     -0.008      0.994      -0.003       0.003
5y_age_band_recode              -0.0654      0.001    -56.995      0.000      -0.068      -0.063
month_of_death_1                 0.0683   1022.092   6.68e-05      1.000   -2003.196    2003.333
month_of_death_2                 0.0823   1638.102   5.02e-05      1.000   -3210.538    3210.703
month_of_death_3                 0.0778    304.503      0.000      1.000    -596.736     596.892
month_of_death_4                 0.0842    742.889      0.000      1.000   -1455.952    1456.120
month_of_death_5                 0.0691   2016.873   3.43e-05      1.000   -3952.929    3953.067
month_of_death_6                 0.0928    989.302   9.38e-05      1.000   -1938.903    1939.089
month_of_death_7                 0.1155   1574.956   7.33e-05      1.000   -3086.742    3086.973
month_of_death_8                 0.0865   1568.074   5.52e-05      1.000   -3073.283    3073.456
month_of_death_9                 0.0919   1702.749    5.4e-05      1.000   -3337.236    3337.419
month_of_death_10                0.0838    441.359      0.000      1.000    -864.964     865.132
month_of_death_11                0.0636   1160.105   5.48e-05      1.000   -2273.700    2273.828
month_of_death_12                0.0725   1178.985   6.15e-05      1.000   -2310.696    2310.841
sex_F                            0.6269   5.21e+04    1.2e-05      1.000   -1.02e+05    1.02e+05
sex_M                            0.6954   5.21e+04   1.34e-05      1.000   -1.02e+05    1.02e+05
marital_status_D                 0.1809        nan        nan        nan         nan         nan
marital_status_M                -0.1894        nan        nan        nan         nan         nan
marital_status_S                 0.2592        nan        nan        nan         nan         nan
marital_status_U                 0.7898        nan        nan        nan         nan         nan
marital_status_W                 0.0192        nan        nan        nan         nan         nan
race_1                          -1.0166        nan        nan        nan         nan         nan
race_2                          -0.9210        nan        nan        nan         nan         nan
race_3                           0.1187        nan        nan        nan         nan         nan
race_4                          -0.1184        nan        nan        nan         nan         nan
race_5                          -0.0036        nan        nan        nan         nan         nan
race_6                           0.7995        nan        nan        nan         nan         nan
race_7                          -0.2286        nan        nan        nan         nan         nan
race_18                          0.1865        nan        nan        nan         nan         nan
race_28                          0.1839        nan        nan        nan         nan         nan
race_38                          0.7065        nan        nan        nan         nan         nan
race_48                         -0.0080        nan        nan        nan         nan         nan
race_58                          1.0508        nan        nan        nan         nan         nan
race_68                         -0.1222        nan        nan        nan         nan         nan
race_78                          0.5924        nan        nan        nan         nan         nan
const                            1.2199        nan        nan        nan         nan         nan
================================================================================================

/Users/yangzihao/anaconda3/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:4112: RuntimeWarning: invalid value encountered in sqrt
  bse = np.sqrt(np.diag(self.cov_params()))
/Users/yangzihao/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/Users/yangzihao/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/Users/yangzihao/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)